<div class="card-background">
  <!-- Top part of the card -->
  <div class="card-image-container">
    <img src="./assets/images/image-equilibrium.jpg" alt="image-equilibrium">
  </div>

  <!-- Middle part of the card -->
  <div class="card-body">
    <div class="card-heading">
      Equilibrium #3429
    </div>

    <div class="card-desc">
      Our Equilibrium collection promotes balance and calm.
    </div>

    <div class="card-info">
      <div class="card-info-price">
        <img src="./assets/images/icon-ethereum.svg" alt="icon-ethereum">
        <span>0.041 ETH</span>
      </div>
      <div class="card-info-time">
        <img src="./assets/images/icon-clock.svg" alt="icon-clock">
        <span>3 days left</span>
      </div>
    </div>
  </div>

  <!-- Bottom part of the card -->
  <div class="card-footer">
    Creation of Jules Wyvern
  </div>

</div>  