<div class="card-background">
  <!-- Top part of the card -->
  <div class="card-image-container">
    <img src="./assets/images/image-equilibrium.jpg" alt="image-equilibrium">
  </div>

  <!-- Middle part of the card -->
  <div class="card-body">
    <div class="card-heading">
      Equilibrium #3429
    </div>

    <div class="card-desc">
      Our Equilibrium collection promotes balance and calm.
    </div>

    <div class="card-info">
      0.041 ETH
      3 days left
    </div>
  </div>

  <!-- Bottom part of the card -->
  <div class="card-footer">
    Creation of Jules Wyvern
  </div>

</div>  