@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Roboto:wght@400;700&display=swap');

:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --very-dark-blue-main: hsl(217, 54%, 11%);
    --very-dark-blue-card: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
}

* {
    box-sizing: border-box;
    background: var(--very-dark-blue-main);
}

.body {
    margin: 0px;
    padding: 0px;
    font-family: 'Outfit', sans-serif;
    font-size: 1.125rem;
}