<div class="card-background">
  <!-- Top part of the card -->
  <div class="card-image-container">
    <img src="./assets/images/image-equilibrium.jpg" alt="image-equilibrium">
  </div>

  <!-- Text part of card -->
  <div class="card-body">
    <!-- Upper-Middle part of the card -->
    <div class="card-middle">
      <span id="middle-heading">
        Equilibrium #3429
      </span>
      <span id="middle-desc">
        Our Equilibrium collection promotes balance and calm.
      </span>
    </div>

    <!-- Lower-Middle part of the card -->
    <div class="card-info">
      <div class="card-info-price">
        <img src="./assets/images/icon-ethereum.svg" alt="icon-ethereum">
        <span>0.041 ETH</span>
      </div>
      <div class="card-info-time">
        <img src="./assets/images/icon-clock.svg" alt="icon-clock">
        <span>3 days left</span>
      </div>
    </div>

    <!-- Bottom part of the card -->
    <div class="card-footer">
      <img src="./assets/images/image-avatar.png" alt="image-avatar">
      <span>Creation of <span id="creator">Jules Wyvern</span></span>
    </div>
  </div>
</div>  